openapi: 3.1.0

info:
  title: Expert TaxTech API
  version: "1.0.0"
  description: API para consulta de candidatos

servers:
  - url: https://eodprmm04unzccs.m.pipedream.net

paths:
  /:
    get:
      operationId: listarCandidatos
      summary: Lista candidatos
      description: Retorna a lista de candidatos com filtros opcionais.

      parameters:
        - name: nome
          in: query
          required: false
          schema:
            type: string

        - name: expertise
          in: query
          required: false
          schema:
            type: string

        - name: tipo
          in: query
          required: false
          schema:
            type: string

        - name: nivel
          in: query
          required: false
          schema:
            type: string

        - name: localidade
          in: query
          required: false
          schema:
            type: string

        - name: idioma
          in: query
          required: false
          schema:
            type: string

      responses:
        "200":
          description: Lista de candidatos

          content:
            application/json:
              schema:
                type: object

                properties:

                  success:
                    type: boolean

                  total:
                    type: integer

                  candidatos:
                    type: array

                    items:
                      type: object

                      properties:

                        ID:
                          type: integer

                        Nome:
                          type: string

                        Tipo:
                          type: string

                        Expertise:
                          type: string

                        Nivel:
                          type: string

                        Localidade:
                          type: string

                        Idioma:
                          type: string

                        Disponibilidade:
                          type: string

                      additionalProperties: true

                required:
                  - success
                  - candidatos

                  paths:
  /candidatos:
    post:
      operationId: criarCandidato
      summary: Cadastrar um novo candidato
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nome
                - expertise
                - nivel
              properties:
                tipo:
                  type: string
                  example: Ativo

                nome:
                  type: string

                expertise:
                  type: string

                nivel:
                  type: string

                rateConsultor:
                  type: string

                rateExpert:
                  type: string

                disponibilidade:
                  type: string

                telefone:
                  type: string

                email:
                  type: string

                idioma:
                  type: string

                localidade:
                  type: string

                aceitaHibrido:
                  type: string

                comentario:
                  type: string

      responses:
        "200":
          description: Candidato criado
